<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>SB Admin 2 - Dashboard</title>

  <!-- Custom fonts for this template-->
  <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
  <link
    href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
    rel="stylesheet">
  <link href='fullcalendar/main.css' rel='stylesheet' />

  <!-- Custom styles for this template-->
  <link href="css/sb-admin-2.min.css" rel="stylesheet">

</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->

    <% include ./sidebar %>

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">

        <!-- Main Content -->
        <div id="content">

          <% include ./topbar %>

            <!-- Begin Page Content -->
            <div class="container-fluid">

              <!-- Page Heading -->
              <div class="d-sm-flex align-items-center justify-content-between mb-4">
                <h1 class="h3 mb-0 text-gray-800">근무스케줄관리</h1>
                <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-download fa-sm text-white-50"></i> Generate Schedule</a>
              </div>

              <!-- Content Row -->
              <div class="row">
                <!-- Pie Chart -->
                <div class="col-xl col-lg">
                  <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                      <h6 class="m-0 font-weight-bold text-primary">근무스케줄표</h6>
                      <div class="dropdown no-arrow">
                        <a class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                          <i class="fas fa-ellipsis-v fa-sm fa-fw text-gray-400"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right shadow animated--fade-in"
                          aria-labelledby="dropdownMenuLink">
                          <div class="dropdown-header">Dropdown Header:</div>
                          <a class="dropdown-item" href="#">Action</a>
                          <a class="dropdown-item" href="#">Another action</a>
                          <div class="dropdown-divider"></div>
                          <a class="dropdown-item" href="#">Something else here</a>
                        </div>
                      </div>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                      <form action="" name="mForm">
                        <input type="hidden" name="srcWork">
                        <input type="hidden" name="destWork">
                        <input type="hidden" name="destWorkId">

                        <div class="form-group row">
                          <label for="worker" class="col-sm-2 control-label col-form-label">사업장 *</label>
                          <div class="col-sm-2">
                            <select class="select form-control custom-select" style="width: 100%;" id="site"
                              name="site">
                              <option>--선택--</option>
                              <%for(var i=0; i<site.length; i++){%>
                                <option value="<%=site[i].SITECD%>" <%=siteCd==site[i].SITECD ? 'selected' : '' %>>
                                  <%=site[i].SITENM%>
                                </option>
                                <%}%>
                            </select>
                          </div>
                        </div>

                        <style>
                          p {
                            margin: 0px;
                          }

                          #external-events {
                            display: flex;
                          }

                          .fc-event {
                            margin: 2px;
                            /* width: 100px; */
                            /* height: 20px; */
                            text-align: center;
                          }
                        </style>

                        <div class="row">
                          <div class="col-sm-2">
                            <p>
                              근무자 목록
                            </p>
                          </div>
                          <!-- <div class="col-sm-5">
                        <div>대기 or 변경 완료</div>
                        <div>결재요청</div>
                        <div>결재진행중</div>
                      </div> -->
                        </div>
                        <div class="row">
                          <div class="card" style="margin:10px 10px">
                            <div class="card-body" id='external-events'>
                              <%for(var i=0; i<data3.length; i++){%>
                                <div class='fc-event fc-h-event fc-daygrid-event fc-daygrid-block-event'
                                  data-workercd="<%=data3[i].WORKERCD%>">
                                  <div class='fc-event-main'>
                                    <%=data3[i].NAME%>
                                  </div>
                                </div>
                                <%}%>
                            </div>
                          </div>

                          <!-- <p>
                        <input type='checkbox' id='drop-remove' />
                        <label for='drop-remove'>remove after drop</label>
                      </p> -->
                        </div>

                        <div id='calendar-container'>
                          <div id='calendar'></div>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <% include ./footer %>

      </div>
      <!-- End of Content Wrapper -->

  </div>

  <form id="modalForm" name="modalForm">
    <div class="modal" id="myModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group row">
              <label for="carNm" class="col-sm-2 control-label col-form-label">근무일자 *</label>
              <div class="col-sm-10">
                <input type="text" class="form-control is-invalid" id="workymd" name="workymd" disabled>
              </div>
            </div>
            <div class="form-group row">
              <label for="worktype" class="col-sm-2 control-label col-form-label">근무조 *</label>
              <div class="col-sm-10">
                <select class="select form-control custom-select" style="width: 100%;" id="worktype" name="worktype" required>
                  <option value="">--선택--</option>
                  <%for(var i=0; i<data2.length; i++){%>
                    <option value="<%=data2[i].WORKTYPCD%>"><%=data2[i].WORKTYPNM%></option>
                    <%}%>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="worker" class="col-sm-2 control-label col-form-label">근무자 *</label>
              <div class="col-sm-10">
                <select class="select form-control custom-select" style="width: 100%;" id="worker" name="worker"
                  disabled>
                  <option>--선택--</option>
                  <%for(var i=0; i<data3.length; i++){%>
                    <option value="<%=data3[i].WORKERCD%>"><%=data3[i].NAME%></option>
                    <%}%>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">확인</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
  </form>

  <form id="batchModalForm" name="batchModalForm">
    <div class="modal" id="myBatchModal" tabindex="-1" role="dialog">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Modal title</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">

            <div class="form-group row">
              <label for="carNm" class="col-sm-3 control-label col-form-label">등록기간 *</label>
              <div class="col-sm-4">
                <input type="text" class="form-control text-center" id="batch_workymd_from" name="batch_workymd_from"
                  disabled>
              </div>
              ~
              <div class="col-sm-4">
                <input type="text" class="form-control text-center" id="batch_workymd_to" name="batch_workymd_to"
                  disabled>
              </div>
            </div>
            <div class="form-group row">
              <label for="worktype" class="col-sm-3 control-label col-form-label">근무조 *</label>
              <div class="col-sm-5">
                <select class="select form-control custom-select" style="width: 100%;" id="batch_worktype" name="batch_worktype" required>
                  <option value="">--선택--</option>
                  <%for(var i=0; i<data2.length; i++){%>
                    <option value="<%=data2[i].WORKTYPCD%>"><%=data2[i].WORKTYPNM%></option>
                    <%}%>
                </select>
              </div>
            </div>
            <div class="form-group row">
              <label for="worker" class="col-sm-3 control-label col-form-label">근무자 *</label>
              <div class="col-sm-5">
                <select class="select form-control custom-select" style="width: 100%;" id="batch_worker" name="batch_worker" required>
                  <option value="">--선택--</option>
                  <%for(var i=0; i<data3.length; i++){%>
                    <option value="<%=data3[i].WORKERCD%>">
                      <%=data3[i].NAME%>
                    </option>
                    <%}%>
                </select>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">확인</button>
            <button type="button" id="batchDelete" class="btn btn-primary">삭제</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">닫기</button>
          </div>
        </div>
      </div>
    </div>
  </form>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>



  <!-- Bootstrap core JavaScript-->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Core plugin JavaScript-->
  <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for all pages-->
  <script src="js/sb-admin-2.min.js"></script>

  <!-- Page level plugins -->
  <script src="vendor/chart.js/Chart.min.js"></script>

  <!-- Page level custom scripts -->
  <script src="js/demo/chart-area-demo.js"></script>
  <script src="js/demo/chart-pie-demo.js"></script>

  <script src='fullcalendar/main.js'></script>

  <script>

    document.addEventListener('DOMContentLoaded', function () {

      var Calendar = FullCalendar.Calendar;
      var Draggable = FullCalendar.Draggable;

      var containerEl = document.getElementById('external-events');
      var calendarEl = document.getElementById('calendar');
      var checkbox = document.getElementById('drop-remove');

      // initialize the external events
      // -----------------------------------------------------------------

      new Draggable(containerEl, {
        itemSelector: '.fc-event',
        longPressDelay: 0,
        eventData: function (eventEl) {
          // alert('wegweg');

          return {
            id: "external",
            title: eventEl.innerText
          };
        }
      });

      // initialize the calendar
      // -----------------------------------------------------------------

      var calendar = new Calendar(calendarEl, {
        headerToolbar: {
          left: 'prev,next today',
          center: 'title',
          // right: 'dayGridMonth,timeGridWeek,timeGridDay'
          right: 'dayGridMonth'
        },
        eventBackgroundColor: "",
        eventBorderColor: "",
        eventTextColor: "",
        editable: false,
        eventStartEditable: true,
        eventResizableFromStart: false,
        droppable: true, // this allows things to be dropped onto the calendar
        selectable: true,
        select: function (info) {

          var f = document.batchModalForm;

          var endDte = new Date(info.endStr);
          endDte.setDate(endDte.getDate() - 1)
          
          var endDteStr = getYMDFormat(endDte, "-");;

          $("#myBatchModal").modal("show");
          console.log(info);

          f.batch_workymd_from.value = info.startStr;
          f.batch_workymd_to.value = endDteStr;

        },
        eventClickEx: function (jsEvent, ev, view, cellDate) {
          alert(cellDate);
        },
        dayClick: function (date, jsEvent, view) {
          alert('Clicked on: ' + date.getDate() + "/" + date.getMonth() + "/" + date.getFullYear());
        },
        dateClick: function (info) {
          // alert('Clicked on: ' + info.dateStr);
          // alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
          // alert('Current view: ' + info.view.type);
          // change the day's background color just for fun
          // info.dayEl.style.backgroundColor = 'red';
        },
        eventClick: function (info) {
          var eventObj = info.event;
          var f = document.mForm;

          // alert('Event: ' + info.event.title);
          // alert('Coordinates: ' + info.jsEvent.pageX + ',' + info.jsEvent.pageY);
          // alert('View: ' + info.view.type);
          // console.log(info.el.parentNode);
          // console.log(document.elementsFromPoint(info.jsEvent.pageX, info.jsEvent.pageY));

          // console.log(eventObj);

          if (eventObj.url) {
            alert(
              'Clicked ' + eventObj.title + '.\n' +
              'Will open ' + eventObj.url + ' in a new tab'
            );

            window.open(eventObj.url);

            info.jsEvent.preventDefault(); // prevents browser from following link in current tab.
          } else {
            var msg = "변경 대상으로 지정하시겠습니까?";
            var target = "srcWork";

            if (f.srcWork.value == eventObj.id) {
              msg = "변경 요청을 초기화 하시겠습니까?";
              target = "init";
            } else if (f.srcWork.value != "") {
              msg = "변경 요청 하시겠습니까?";
              // [" + f.srcWork.value + "] => [" + eventObj.title + "]";
              target = "destWork"
            }

            if (confirm(msg)) {
              if (target == "init") {
                // info.el.style.borderColor = "#4877CF";
                // info.el.style.backgroundColor = "#4877CF";
                // console.log(calendar.getEventById(f.destWorkId.value));
                // console.log(calendar.getEventById(f.destWorkId.value).id);
                eventObj.setProp("borderColor", "#3788D8");
                eventObj.setProp("backgroundColor", "#3788D8");
                eventObj.setProp("textColor", "#FFF");
                if(f.destWork.value != ""){
                  calendar.getEventById(f.destWork.value).setProp("borderColor", "#3788D8");
                  calendar.getEventById(f.destWork.value).setProp("backgroundColor", "#3788D8");
                  calendar.getEventById(f.destWork.value).setProp("textColor", "#FFF");
                }
                // calendar.getEventById(f.destWorkId.value)._def.ui.backgroundColor = "#4877CF";
                // console.log(calendar.getEventById(f.destWorkId.value));
                f.srcWork.value = "";
                f.destWork.value = "";
              } else {                
                if(f.destWork.value != ""){
                  calendar.getEventById(f.destWork.value).setProp("borderColor", "#3788D8");
                  calendar.getEventById(f.destWork.value).setProp("backgroundColor", "#3788D8");
                  calendar.getEventById(f.destWork.value).setProp("textColor", "#FFF");
                }

                f[target].value = eventObj.id;
                eventObj.setProp("borderColor", "#A33F5B");
                eventObj.setProp("backgroundColor", "#A33F5B");
                eventObj.setProp("textColor", "#FFF");
                // info.el.style.backgroundColor = "#A33F5B";
                // info.el.style.borderColor = "#A33F5B";
                // f.destWork.value = eventObj.id;
              }
              // eventObj.editable = false; 
              // eventObj.backgroundColor = "#A33F5B";
              // eventObj.startEditable = false; 
              // eventObj.droppable = false;

            }
            // alert('Clicked ' + eventObj.title);
          }
        },
        eventAllow: function (dropInfo, draggedEvent) {
          // console.log(dropInfo);
          // console.log(draggedEvent);
          // if (draggedEvent.id === '999') {
          var f = document.mForm;
          // console.log(draggedEvent.title);
          // console.log((dropInfo.title == f.srcWork.value || dropInfo.title == f.destWork.value));
          // return true;
          return !(draggedEvent.id == f.srcWork.value || draggedEvent.id == f.destWork.value); // a boolean
          // }
          // else {
          //   return true;
          // }
        },
        eventLongPressDelay: 0,
        dropAccept: function (draggableItem) {
          return true;
          // if(confirm("dfdfdf")){
          //   return true;
          // }else{
          //   return false
          // }
          // return confirm("dfdfdf");
          // $('#myModal').modal({
          //   backdrop: false
          // });
          // $("#myModal").modal('show', {
          //   backdrop: false
          // });
          // $('#myModal').on('show.bs.modal', function (e) {
          //   // do something...
          //   if($("#test").val() == "1"){
          //     return true;
          //   }else{
          //     return false;
          //   }
          // });
          // console.log(alert('111'));
        },
        // eventLongPressDelay: 100,
        eventDrop: function(info){
          console.log('111');
          console.log(info.event.id);
          // console.log(info.event);
          // console.log(info.event.startStr);

          var startStr = info.event.startStr.replaceAll("-", "");
          // var partId = info.event.id.substr(9, info.event.id.length);
          
          var serachIdArr  = info.event.id.split("|");
          var searchIdPart = serachIdArr[0] + "|" + serachIdArr[1];

          var newId = startStr + "|" + serachIdArr[1] + "|" + serachIdArr[2];

          console.log(newId);

          // console.log(newId);
          // console.log(calendar.getEventById(newId));
          var eventsArr = calendar.getEvents();
          // for(var i=0; i<eventsArr.length; i++){
          //   console.log(eventsArr[i].id + " : " + searchIdPart);
          //   if(eventsArr[i].id.indexOf(searchIdPart) != -1){
          //     info.revert();
          //     return false;
          //   }
          // }

          if(calendar.getEventById(newId) != null){
            info.revert();
            return false;
          }
          
          calendar.addEvent({
            id: newId,
            title: info.event.title,
            start: info.event.startStr,
            backgroundColor: "#f9f206",
            borderColor: "#f9f206",
            textColor: "#000"
          });

          info.event.remove();
        },
        eventReceive: function(info){
          console.log('222');
          var strDate = info.event._instance.range.start;
          var strDateStr = getYMDFormat(strDate, "");
          var workerCd = info.draggedEl.getAttribute('data-workercd');
          var f = document.modalForm;

          var checkVal = strDateStr + "|" + workerCd;
          // console.log(calendar.getEvents());

          var eventsArr = calendar.getEvents();

          // console.log(checkVal);
          for(var i=0; i<eventsArr.length; i++){
            // console.log(checkVal + " : " + eventsArr[i].id);
            if(eventsArr[i].id.indexOf(checkVal) != -1){
              alert('기등록돼 있어 등록이 불가 합니다.');
              // info.revert();

              $("#myModal").modal('hide');
              return false;
            }
          }
        },
        drop: function (info) {

          var f = document.modalForm;

          // console.log(info);
                    
          f.workymd.value = info.dateStr;
          f.worker.value = info.draggedEl.getAttribute('data-workercd');

          var infoTitle = $(info.resource).text().trim();
          var workerNm = $("#worker option:selected").text().trim();

          // var checkVal = f.workymd.value.replaceAll("-", "") + f.worker.value;
          // console.log(calendar.getEvents());

          // var eventsArr = calendar.getEvents();

          // for(var i=0; i<eventsArr.length; i++){
          //   console.log(checkVal + " : " + eventsArr[i].id);
          //   if(eventsArr[i].id.indexOf(checkVal) != -1){
          //     alert('기등록돼 있어 등록이 불가 합니다.')
          //     return false; 
          //   }
          // }

          $("#myModal").modal('show', {
            backdrop: false
          });
        }
      });

      calendar.render();

      $("#modalForm").submit(function () {
        var f = document.modalForm;

        calendar.addEvent({
          id: f.workymd.value.replaceAll("-", "") + "|" + f.worker.value + "|" + f.worktype.value,
          title: $("#worker option:selected").text().trim() + "-" + $("#worktype option:selected").text().trim(),
          start: f.workymd.value
        });

        $("#myModal").modal('hide');

        return false;
      });

      $("#batchModalForm").submit(function (e) {        
        console.log('wegwegewg');
        var f = document.batchModalForm;


        // var checkVal = f.batchworkymd.value.replaceAll("-", "") + f.worker.value;
        // console.log(calendar.getEvents());

        // var eventsArr = calendar.getEvents();

        // for(var i=0; i<eventsArr.length; i++){
        //   console.log(checkVal + " : " + eventsArr[i].id);
        //   if(eventsArr[i].id.indexOf(checkVal) != -1){
        //     alert('기등록돼 있어 등록이 불가 합니다.');
        //     info.revert();
        //     $("#myModal").modal('hide');
        //     return false;
        //   }
        // }

        var Difference_In_Days = getDiffDays(f.batch_workymd_from.value, f.batch_workymd_to.value);

        // var arrEvents = new Array();
        console.log(Difference_In_Days);
        for (var i = 0; i <= Difference_In_Days; i++) {
          var temp = new Date(f.batch_workymd_from.value);
          temp.setDate(temp.getDate() + i);
          
          var tempYmd = getYMDFormat(temp, "-");
          var id = tempYmd.replaceAll("-", "") + "|" + f.batch_worker.value + "|" + f.batch_worktype.value;

          if(calendar.getEventById(id) != null) continue;

          calendar.addEvent({
            allDay: true,
            id: id,
            title: $("#batch_worker option:selected").text().trim() + "-" + $("#batch_worktype option:selected").text().trim(),
            start: tempYmd
          });
        }

        $("#myBatchModal").modal('hide');

        return false;
      });

      $("#myModal").on("hide.bs.modal", function (e) {
        if(calendar.getEventById("external") != null)
          calendar.getEventById("external").remove();
      });

      $("#site").change(function () {
        location.href = "/workPlan?site=" + this.value;
      });
      // $('#calendar').fullCalendar({
      // eventClick: function(event, element) {

      //   event.title = "CLICKED!";

      //   $('#calendar').fullCalendar('updateEvent', event);

      // }
      // });

      $("#batchDelete").click(function(){
        var f = document.batchModalForm;

        var Difference_In_Days = getDiffDays(f.batch_workymd_from.value, f.batch_workymd_to.value);
        
        for(var i=0; i<=Difference_In_Days; i++){
          var temp = new Date(f.batch_workymd_from.value);
          temp.setDate(temp.getDate() + i);

          var tempStr = getYMDFormat(temp, "");
          var id = tempStr + "|" + f.batch_worker.value + "|" + f.batch_worktype.value;

          if(calendar.getEventById(id) == null) continue;

          console.log(id);

          if(!(document.mForm.srcWork.value == id || document.mForm.destWork.value == id)){
            calendar.getEventById(id).remove();
          }
        }
        
        $("#myBatchModal").modal("hide");
      });
    });
      // calendar.addEvent( {
      //   title: '테스트-근무B',
      //   start: '2021-02-23',
      //   end: '2021-02-23'
      // } );

  function getYMDFormat(date, delim){
    var tempYear = date.getFullYear();
    var tempMonth = date.getMonth() + 1;
    tempMonth = tempMonth < 10 ? "0" + tempMonth : tempMonth;
    var tempDate = date.getDate(); 
    tempDate = tempDate < 10 ? "0" + tempDate : tempDate;
    var tempYmd = tempYear + delim + tempMonth + delim + tempDate;

    return tempYmd;
  }

  function getDiffDays(date1_str, date2_str){
      var date1 = new Date(date1_str);
      var date2 = new Date(date2_str);

      // To calculate the time difference of two dates 
      var Difference_In_Time = date2.getTime() - date1.getTime();

      // To calculate the no. of days between two dates 
      var Difference_In_Days = Difference_In_Time / (1000 * 3600 * 24);

      return Difference_In_Days;
  }



  </script>

</body>

</html>